@font-face {
    font-family: Exo;
    src: url(fonts/exo/Exo-VariableFont_wght.ttf);
}

html{
    font-family: 'Exo';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
/* .flex{
    display: flex;
    align-items: center;
} */

.text-align--center{
    text-align: center;
}

.font-weight--bold{
    font-weight: 700;
}

.bg_img--dark{
    background-image: url(assets/BG-dark-mode.png);
    height: 1062px;
    width: 1494px;
}

.login_box--dark{
position: absolute;
width: 462px;
height: 702px;
left: 932px;
top: 178px;

background: rgba(48, 48, 48, 0.5);
background-blend-mode: overlay;
backdrop-filter: blur(10px);
border-radius: 12px;
}

.login_box_title--dark{
    height: 27px;
    width: 362px;
    left: 65.73%;
    right: 10.04%;
    top: calc(50% - 27px/2 - 299.5px);
    font-size: inherit;
    line-height: 27px;
    color: #FFFFFF;
}

.login_box_subtitle--dark{
    width: 362px;
    height: 28px;
    left: 982px;
    top: 253px;
    font-size: 0.75rem;
    line-height: 21px;
    color: #FFFFFF;
}

.login_btn--dark{
    background: #4CC986;
    border-radius: 6px;
    height: 47px;
    width: 362px;
}

.login_optbtn--dark{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}