            /* ----ROOT---- */
:root {
    font-family: 'Exo';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--main-text-color);

    /* Color vars */
    --bg-color: rgba(240, 240, 240, 0.5);
    --main-color: #515151;
    --secondary-color: #36B972;
    --btn-color: #4CC986;
    --carrousel-btn-bg-color: #FFFFFF;
    --carrousel-btn-chevron-color: #515151;
    --nav-bar-color: #E1E1E4;
    --nav-bar-dot-color:#515151;
    --logo-color: #3d3d3d;
    --checkbox-border-color: #8F8F8F;

    /* Carrousel-imgs vars */
    --bg-image1: url(images/BG.png);
    --bg-image2: url(images/BG-2.png);
    --bg-image3: url(images/BG-3.png);
}
*{
    margin: 0;
    padding: 0;
}
path{
    fill: currentColor;
}
@font-face {
    font-family: Exo;
    src: url(fonts/exo/Exo-VariableFont_wght.ttf);
}

            /* ----HELPER CLASSES---- */
.flexbox{
    display: flex;
    flex-flow: row wrap;
}

.flexbox-justify--center{
    justify-content: center;
}

.flexbox-align-items--center{
    align-items: center;
}
.flexbox-align-content--space-around{
    align-content: space-around;

}
.flexbox-align-content--space-betweem{
    align-content: space-between;
}

.secondary--text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.line-height--19{
    line-height: 19px;
}

                /* ----COMPUTER---- */
@media all and (min-width: 768px) {

/* WHOLE CONTAINER */
.container{
    position: relative;
    margin: 0;
    height: 1024px;
    width: 100%;
    max-width: 1440px;
    max-height: 1024px;
}
button{
    font-family: inherit;
    font-weight: 700;
}
    /* LOGIN */
.loginbox_wrapper{
    height: 100%;
    width: 100%;
}
.loginbox{
    box-sizing: border-box;
    position: absolute;
    width: 462px;
    height: 702px;
    padding: 40px 50px;
    top: 178px;
    left: 878px;
    background-color: var(--bg-color);
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);
    border-radius: 12px;
}
    /* LOGIN LINKS */
.login_link:link{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 0.7rem;
    font-weight: 600;
    
    text-decoration: none;
    color: var(--secondary-color);
}
.login_link:visited{
   text-decoration: none;
    color: var(--secondary-color);
}
    /* LOGIN TITLE */
.titles{
    width: 100%;
}
.login_title{
    font-size: 1rem;
}
.login_subtitle{
    font-size: 0.8rem;
    font-weight: 400;
}
    /* LOGIN INPUTS */
.login_input{
    position: relative;
    box-sizing: border-box;
    width: 362px;
    height: 47px;
    border-radius: 4px;
    background: #ffffff;
    border: #FFFFFF;
}
.login_input:focus{
    outline: none;
}
.psw_container{
    position: relative;
    padding: 0%;
}
.psw_viewer{
    position: absolute;
    /* top: 16.67%;
    left: 4.82%; */
    right: 4.82%;
    bottom: 16.66%;
    color: var(--secondary-color);
    background-color: #FFFFFF;
    transform: translateY(-50%);
}
/* .psw_viewer--off{
    z-index: 1;
}
.psw_viewer--on{
    z-index: -1;
} */
.remember-me_container{
    width: 100%;
    justify-content: space-between;
}
.login_remember-me{
    box-sizing: border-box;
    position: relative;
    background-color: var(--bg-color);
    border: 1.5px solid var(--checkbox-border-color);
    border-radius: 4px;
    height: 20px;
    width: 20px;
    margin-right: 16px;
}

.login_submit-btn{
    width: 362px;
    height: 47px;
    background-color: var(--btn-color);
    border: var(--btn-color);
    border-radius: 4px;
}
.login_submit-btn--text{
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 600;
}
.login_option-separator{
    width: 100%;
    height: 19px;
}
.login_option-separator_line{
    display: inline-block;
    border-bottom: var(--main-color) 1px solid;
    flex: 40.75;
}
.register{
    width: 100%;
}
.register_link{
    margin-left: 1.4%;
}
.or{
    display: inline;
    flex: 18.5;
    text-align: center;
    margin: 0 auto;
}
.sso-container path,
.sso-container button{
    color: var(--secondary-color);
}
.login_option{
    border: 2px solid var(--secondary-color);
    width: 100%;
    height: 47px;
    border-radius: 6px;
}


    /* CARROUSEL */

    /* LOGO */
.carrousel{
    height: 1024px;
    width: 1440px;
}
.carrousel_logo--container{
    position: absolute;
    z-index: 3;
    width: 1440px;
    height: 115px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px); }
.logo{
    position: absolute;
    left: 4.42%;
    top: 21.62%;
    right: 4.42%;
    bottom: 21.62%;
    color: var(--logo-color);
}

        /* CARROUSEL SLIDER */
.carrousel_track-container{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 1494px;
    max-height: 1062px;
    overflow: hidden;
}
.carrousel_track{
    position: relative;
    top: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    max-width: 1494px;
    max-height: 1062px;
    transition: transform 250ms ease-in;
}

.carrousel_slider{
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit;
    width: inherit;
    max-height: 1062px;
    max-width: 1494px;
}
li.carrousel_slider{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
        /* CARROUSEL SLIDER IMAGES */
.carrousel_image-one{
    background: var(--bg-image1), #c4c4c4;
}
.carrousel_image-two{
    background: var(--bg-image2), #c4c4c4;
}
.carrousel_image-three{
    background: var(--bg-image3), #c4c4c4;
}
.carrousel_image-four{
    background: var(--bg-image1), #c4c4c4;
}
.carrousel_image-five{
    background: var(--bg-image2), #c4c4c4;
}
.carrousel_image-six{
    background: var(--bg-image3), #c4c4c4;
}

/* CARROUSEL NAV BAR */
.carrousel_nav-bar{
    position: relative;
    top: 965px;
    margin: 0 auto;
    width: 120px;
    height: 27px;
    background: #515151;
    border-radius: 18px;
    z-index: 2;
    }
    .carrousel_nav-bar_dot:last-of-type{
        margin: 10px 17px 10px 4.5px;
    }
    .carrousel_nav-bar_dot:first-of-type{
        margin: 10px 4.5px 10px 16px;
    }
    .carrousel_nav-bar_dot{
        flex: 1;
        height: 7px;
        width: 7px;
        margin: 10px 4.5px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 25%;
        cursor: pointer;
        border-style: none;
    }
    .current-dot{
        opacity: 100%;
    }

        /* CARROUSEL BUTTONS */
.carrousel_btn-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.carrousel_btn{
    cursor: pointer;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    background-color: var(--carrousel-btn-bg-color);
    opacity: 80%;
    border: none;
}
.carrousel_btn-separator{
    flex: 1;
}
.carrousel_btn--left{
    align-self: flex-end;
    margin: 0 0 0 32px;
}
.carrousel_btn--right{
    align-self: flex-start;
    margin: 0 32px 0 0;
}
path{
    fill: currentColor;
}
.chevron{
    color: var(--carrousel-btn-chevron);
}
}